<h1>Welcome to Bartender Application</h1>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Bartender App - Home</title>
</head>

<main>
    <div>
        <a href="@Url.Action("Index", "Menu")" class="btn btn-dark btn-dark-white-text m-2">View Cocktail Menu</a>
        <a href="@Url.Action("Index", "Queue")" class="btn btn-dark btn-dark-white-text m-2">View Order Queue</a>
    </div>
</main>
</html>
