<h1>Welcome to Bartender Application</h1>

<html>
<head>
    <title>Bartender App - Home</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<main>
    <div>
        <a href="@Url.Action("Index", "Menu")" class="btn btn-dark btn-dark-white-text m-2">View Cocktail Menu</a>
        <a href="@Url.Action("Index", "Queue")" class="btn btn-dark btn-dark-white-text m-2">View Order Queue</a>
    </div>
</main>
</html>
