<html>
<head>
    <title>Bartender App - Queue</title>
</head>
<body>

    <div class="container">
        <h3>Order Queue</h3>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Cocktail Name</th>
                </tr>
            </thead>
            <tbody>
               @if (Model != null)
                {
                    foreach (var order in Model)
                    {
                        if (order != null)
                        {
                            <tr>
                                <td>order.OrderID</td>
                                <td>order.CocktailName</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

</body>
</html>
